{% extends 'base.html.twig' %}

{% block title 'Blog' %}

{% block body %}
    <h1 class="mb-5">Bienvenue sur le blog</h1>

    <div class="row">
        {% for post in posts %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100">

                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('blog.show', {'slug': post.slug, 'id': post.id}) }}">
                                {{ post.name }}
                            </a>
                        </h5>
                        <p class="card-text">
                            {{ post.content | excerpt | nl2br }}
                        </p>
                        <p class="card-text text-center">
                            <a href="{{ path('blog.show', {'slug': post.slug, 'id': post.id}) }}" class="btn btn-primary">
                                Voir la suite
                            </a>
                        </p>
                    </div>
                    <div class="card-footer text-muted text-center">
                        {{ post.createdAt | ago }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ paginate(posts, 'blog.index') }}
{% endblock %}